// Base styles

body {
    width: 100%;
    height: 100%;
    padding-top: 51px;
    font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    background-image: url(/images/trianglify-background.svg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

a {
    //color: #28c3ab;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: $brand-color;
}

// Angular click anchor element
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}


// Container
.container-md {
    margin-top: 30px;
    max-width: 880px !important;
}

.container-sm {
  margin-top: 30px;
  max-width: 450px !important;
  background-color: #EDF7FF;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  @include box-shadow(0 8px 10px -10px #999);
}

// -------------------

.app-progress {
    height: 50%;
    width: 50%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    p {
        font-size: 28px;
        text-align: center;
    }

    img {
        display: block;
        margin: 20px auto 0;
    }
}
