.navbar-custom {
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #f8f8f2;
    box-shadow: 0 0 2px #999;
}

.navbar-custom li {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
    border-right: solid 1px #dfe2e7;
}

.navbar-custom a {
    color: #333;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

.navbar-brand {
    font-weight: 700;
    color: $brand-color !important;

    &:focus,
    &:hover,
    &:active {
        color: #333 !important;
    }

    &:focus {
        outline: 0;
    }
}

.navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}

.navbar-text {
    color: #fff;

    img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
    }
}

.support-link {
    text-transform: uppercase;
    font-weight: 500;
}
