// Header

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid #85db18;
}

.brand {
  text-align: center;
  text-shadow: 1px 1px 1px #ebebeb;
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 32px;
  font-size: 26px;
  color: #333;
}

.nav-pills > li > a {
    font-size: 1.2em;
    font-weight: 500;
}
