// Home page

.main-container {
  padding-top: 30px;
  background-color: #fcfcfc;
  // background: url(http://subtlepatterns.com/patterns/ricepaper_v3.png);
}

.marketing {
  margin-top: -30px;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  border-bottom: 1px solid #ece6da;
  //background-color: #fcfcfc;
  //background: url(/images/hero-background.png);
  //background: url(/images/trianglify-background.svg) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
}

.marketing-heading {
  font-size: 30px;
  line-height: 30px;
  color: #34495e;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.4);
}

.marketing-subheading {
  font-size: 20px;
  line-height: 34px;
  font-weight: 200;
}

.marketing-btn {
  font-size: 24px;
  padding: 20px;
}

.video-container {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e7f3ef;
}

.how-it-works {
  text-align: left;
  padding-top: 30px;

  li {
    padding: 20px 0;
  }

  .text {
    padding-left: 10px;
    font-size: 20px;
    display: inline-block;
  }
}

.number-circle {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #0067B7;
    border: 2px solid #0067B7;
    color: #fff;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}

.team {
  padding-bottom: 60px;
  h4 {
    margin: 20px auto 10px;
  }
}
