<div class="about">
  <div class="container container-medium">
    <h1>About</h1>
    <p>
      We are a passionate and creative group of developers.
      We’re experienced software developers, and have built products that
      solves some interesting social issues. This stuff is our passion, and we
      like to think we have a knack for it.
    </p>
    <p>
      Our philosophy is pretty straightforward: build simple, easy-to-use
      software that makes it easy for people to work better.
    </p>
    <hr class="ruler">

    <div class="team">
      <h3>Our Team</h3>
      <div class="row">
        <div class="col-sm-4 text-center">
          <img src="/images/fizer.jpg" class="img-circle img-center img-thumbnail">
          <h4>Fizer Khan</h4>
          <a href="//www.twitter.com/fizerkhan" target="_blank" class="twitter social">
            <i class="fa fa-twitter"></i> fizerkhan
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <img src="/images/yogi.jpg" class="img-circle img-center img-thumbnail">
          <h4>Yogeswaran</h4>
          <a href="//www.twitter.com/yogeswarant" target="_blank" class="twitter social">
            <i class="fa fa-twitter"></i> yogeswarant
          </a>
        </div>
        <div class="col-sm-4 text-center">
          <img src="/images/sandeep.jpg" class="img-circle img-center img-thumbnail">
          <h4>Sandeep</h4>
          <a href="//www.twitter.com/ssandeep" target="_blank" class="twitter social">
            <i class="fa fa-twitter"></i> ssandeep
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
