<div class="marketing">
  <div class="container container-medium">
      <h1 class="marketing-heading">New World Bank Procurements in your Inbox</h1>
      <p class="marketing-subheading">
        Procurement Spyder is simpler way to know about new
        procurement from world bank in your sector and your area.</p>
      <p>
      <a class="btn btn-lg btn-success marketing-btn" href="/subscribe" role="button">Subscribe Now!</a>
  </div>
</div>
<div class="video-container">
  <div class="container container-medium">
    <h2>How it works</h2>
    <iframe width="560" height="315" src="//www.youtube.com/embed/Po031NCx58o" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
