<div class="marketing">
  <div class="container container-medium">
      <h1 class="marketing-heading">World Bank Procurements in your Inbox instantly</h1>
      <p class="marketing-subheading">
        Procurement Spyder is simpler way to know about new
        procurement from world bank in your sector and your area.</p>
      <p>
      <a class="btn btn-lg btn-success marketing-btn" href="/subscribe" role="button">
        <i class="fa fa-paper-plane"></i> Subscribe Now!
      </a>
  </div>
</div>
<div class="video-container">
  <div class="container">
    <h2>How it works</h2>
    <div class="row">
      <div class="col-sm-6">
        <ul class="list-unstyled how-it-works">
          <li>
            <div class="number-circle">1</div>
            <span class="text"> Subscribe for your preferred sectors and locations</span>
          </li>
          <li>
            <div class="number-circle">2</div>
            <span class="text"> Verify your email address</span>
          </li>
          <li>
            <div class="number-circle">3</div>
            <span class="text"> That's it! Get notification for new procurement</span>
          </li>
        </ul>

      </div>
      <div class="col-sm-6">
        <iframe width="560" height="315" src="//www.youtube.com/embed/g-81hQT9Dno?autohide=1&amp;modestbranding=1&amp;showinfo=0&amp;theme=light&amp;rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
